
header{
    width: 100%;
    font-size: 50px;
    line-height: 100px;
    font-weight: 100;
    text-align: center;
    color: rgba(175, 47, 47, 0.15);

}
body{
    display: flex;
    flex-direction: column;
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background: #f5f5f5;
    align-items: center;
    flex-wrap: wrap;
}
section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 25px 50px 0 rgb(0 0 0 / 10%);
    align-items: center;
    
}

#checkAll{
    font-size: 25px;
    border-radius: 100%;

}
#topBox{
    flex-direction: row;
    flex-wrap: wrap;
    
}
#inputItem{
    padding: 16px 16px 16px 16px;
    font-size: 24px;
    border: transparent;
}
textarea:focus, input:focus{
    outline: none;
}

::placeholder{
    color: rgb(228, 228, 228);
}
main ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-items: flex-start;
    padding-left: 13px;
    margin: 0;
    
}
main li{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    border-top: 1px solid #ededed;
    width: 100%;
    font-size: 24px;
    height:55px;
    align-content: space-around;
}


input[type=checkbox]:checked~#listItem {
    text-decoration: line-through;
    color: rgb(228, 228, 228);
  }
input[type=checkbox] {
    transform: scale(2);
    
}
.listItem{
    padding: 10px;
    margin-left: 20px;
}
main button{
    border: 0;
    background-color: transparent;
    font-size: 20px;
    opacity:calc(0.5);
}
.delete{
    /* opacity: 0; */
    margin-left: auto;
}

button:hover{
    opacity:calc(1);
}

footer button, footer p{
    border: 0;
    background-color: transparent;
    font-size: 12px;   
    opacity:calc(0.5);
}
footer ul{
    align-self: center;
    display: flex;
    flex-direction: row;
    list-style-type: none;    
    flex-wrap: wrap;  
    padding: 0 20px 0 20px;      
}
footer p{
    padding-left: 20px;
    padding-right: 5px;
}
footer{
    border-top: 1px solid #ededed;
    align-items: center;
}

footer ul li button:active, footer ul li button:focus {
    border: 1px solid rgba(175, 47, 47, 0.219);
    opacity:calc(1);
    border-radius: 3px;
    }

