body{
    display: flex;
    flex-direction: column;
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background: #f5f5f5;
    align-items: center;
    flex-wrap: wrap;
    
}
ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-items: flex-start;
}
li{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-between;
    width: 100%
}
#listItem{
    padding: 10px;
}
#todoListItem li button{
    position: absolute;
    right:10px
}

